* {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.tab_list_wrap {
    display: flex;
    width: 40%;
}
.tab_list {
    width: 25%;
    text-align: center;
}
.tab_container {
    width: 40%;
}
.tab_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


